/* your beautiful css styling goes here! */

/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */
svg.board {
  background-color: red;
}

svg circle {
  fill: blue;
  r: 10;
  transform: 1s;
}

svg rect {
  width: 20px;
  height: 20px;
  fill: green;
}

.enemy {
  height: 50px;
  width: 50px;
  background-color: blue;
}

.enemy circle {
  ba
}