/* your beautiful css styling goes here! */

/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */
@font-face {
    font-family: Arkhip;
    src: url(Arkhip_font.otf);
}
body {
  margin: 0;
}
.scoreboard{
  font-family: Arkhip;
  position: absolute;
  top: 20px;
  left: 20px;
}
svg.board {
  background-color: rgb(231, 76, 60);
}

svg circle {
  fill: blue;
  r: 10;
  transform: 1s;
}


.enemy {
  height: 50px;
  width: 50px;
  background-color: blue;
}

